.footer {z-index: 900009; display: flex; justify-content: center; width: 100%; height: 55px; background: white; border:none; color:#929292; font-size: 12px;}
.footer {box-shadow: 0 2px 2px 0 rgba(0,0,0,.0466667), 0 3px 1px -2px rgba(0,0,0,.0666667), 0 1px 5px 0 rgba(0,0,0,.04);}

.footer {padding:10px 0; align-items: center;}
.footer .block {margin:0; }
.footer .block_a { padding-right:20px; margin-right:20px;  border-right: 1px solid #e2e2e2;}
.footer .block .elem{display: flex;}
.footer .block .name{width:80px;}
