<div class="headbar">
  <div class="center">
    <div class="mainnav" *ngIf="!loading">

        <div class="menuicon" (click)="toggleMenu($event)">
          <mat-icon svgIcon="menu" class="icon"></mat-icon>
          <ul class="menu">
            <li><a href="/axie-marketplace">Marketplace</a></li>
            <li><a href="/axie-egglab">Lab</a></li>
            <li><a href="/axie-artstudio">Art Studio</a></li>
            <li><a href="/axie-inspector">Inspector</a></li>
            <li><a target="_blank" href="https://axie-sales-v1-6.kikoweb.ch">Axie Sales V 1.6.0 (previous)</a></li>
          </ul>
        </div>

        <div class="linkgroup">
          <div routerLink="/axie-marketplace" routerLinkActive="active" class="elem btn">Marketplace</div>
          <div routerLink="/axie-egglab" routerLinkActive="active" class="elem btn">Lab</div>
          <div routerLink="/axie-artstudio" routerLinkActive="active" class="elem btn">Art Studio</div>
          <div routerLink="/axie-inspector" routerLinkActive="active" class="elem btn">Inspector</div>
        </div>

    </div>
  </div>
</div>
