<div class="headbar">
  <div class="center">
    <div class="mainnav" *ngIf="true">

        <div class="menuicon" (click)="toggleMenu($event)">
          <mat-icon svgIcon="menu" class="icon"></mat-icon>
          <ul class="menu">
            <li><a target="_blank" href="https://axie-sales-v1-6.kikoweb.ch">Axie Sales V 1.6.0 (previous)</a></li>
          </ul>
        </div>

        <div class="linkgroup">
          <div routerLink="/" class="elem home_btn btn">Axie Sales</div>
        </div>

    </div>
  </div>
</div>
