:host { position: relative; display: flex; align-items:center; } 
.icon { position: absolute; right: 5px; cursor: pointer; padding: 7px; height: 32px; width: 32px; opacity: 0.8; } 
.icon svg { fill: #565656; } 
.icon:hover { opacity: 0.7; } 
input { border:none; border: 1px solid #e2e2e2; color: #4c4c4c; padding: 8px 10px; padding-right: 35px;; border-radius: 50px; font-size: 12px; } 